.idea
.git
.vs
/apps/cinema-info-server/CinemaServer/Migrations/20221013131507_Add_Hall_And_Session.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221013131507_Add_Hall_And_Session.Designer.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221013131917_Correct-Migration.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221013131917_Correct-Migration.Designer.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221013132817_Create_Ticket.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221013132817_Create_Ticket.Designer.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221013133726_Correct-Hall-Table.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221013133726_Correct-Hall-Table.Designer.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221014060205_SessionCorrect.Designer.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221014060205_SessionCorrect.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221014074910_HallCorrect.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221014074910_HallCorrect.Designer.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221021153248_CorrectNaming.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221021153248_CorrectNaming.Designer.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221021180532_CorrectNaming2.Designer.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221021180532_CorrectNaming2.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221021180704_CorrectNaming3.cs
/apps/cinema-info-server/CinemaServer/Migrations/20221021180704_CorrectNaming3.Designer.cs
/apps/cinema-info-server/CinemaServer/wwwroot/resources/images/638019781421196925users.png
/apps/cinema-info-server/CinemaServer/wwwroot/resources/images/638019828709493775avengers-infinity-war-phone-wallpaper.jpg
/apps/cinema-info-server/CinemaServer/wwwroot/resources/images/638019837636038056blade-runner-2049-phone-wallpaper.jpg
/apps/cinema-info-server/CinemaServer/wwwroot/resources/images/users.png
